body {
    overflow-x:hidden;
}

#bodyText {
    position: absolute;
    top:100vh;
}

.openingText {
    height:20vh;
    width:110vh;
    top:37%;
    left:24%;
    background-color: rgba(179, 163, 105, .9);
    border: 5px solid #003057;
    z-index: 3;
    position: absolute;
}

.openingText h1 {
    color: white;
    font-size: 550%;
    line-height:20vh;
    text-align: center;
    font-family: 'Georgia';
}

.openingimageshow {
    height:100vh;
    width:100vw;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.openingimageshow video {
    height: 100vh;
    width: 100vw;
    object-fit: fill;
}

.openingimageshow img {
    height: 100vh;
    width: 100vw;
    object-fit: fill;
}

.imagemantle {
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: fadeout 5s infinite;
}

#bodyText {
    position: absolute;
    top:100vh;
}

#timelineBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 12vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, .8);
    z-index: 2;
}


/*This is styling for the actual entire list making timeline. All the dates are part of an unorded list with each list item being a bullet*/
#times {
    list-style-position: inside; /*Makes it so the bullet points fit in the ul tag and get affected by the css*/
    list-style-type: none; /*Gets rid of the bullets*/
    overflow-y: hidden; /*Makes it so now x Scroll bar shows up*/
    overflow-x: auto; /*Makes it so y Scroll bar shows up if there are enough elements to go past the height of page*/
    float: left; 
    width: 90vw; /*width and height change the width and height of the ul element*/
    height: 12vh;
    padding-top: .5%;
    left: 18vw;
    position: absolute; /*The above are elements just to place the timeline in the right place and give it an appropriate initial size*/
}

/*These represent the position of the actual dates on the timeline. Each li represent the date and it's corresponding part of timeline.*/
#times li {
    display: inline;
    position: relative;
    top: 6vh;
    margin-right: 2vw;
    margin-left: 2vw;
}

#times li:not(:last-child):before {
    background-color: #B3A369;
    height: 1vh;
    width: 8vw;
    content: '';
    position: absolute;
    top: -4vh;
    left: 3vh;
}

#times li:after {
  content: "";
  width: 2vh;
  height: 2vh;
  background: #fff;
  position: absolute;
  border-radius: 2vh;
  top: -5vh;
  left: 1vw;
  border: .5vh solid #B3A369;
}

#times li:hover:after {
    background: #003057; 
}

#times li a {
    color: #003057;
    font-size: 150%;
    text-align: center;
}

#times li a:hover {
    color: #B3A369;
}

#times li a:visited {
    color: #003057;
}

.openingimageshow #slide1 {
    display: inline;
}

.openingimageshow #slide2 {
    display: none;
}

.openingimageshow #slide3 {
    display: none;
}

.openingimageshow #slide4 {
    display: none;
}

.openingimageshow #slide5 {
    display: none;
}

.openingimageshow #slide6 {
    display: none;
}

.openingimageshow #slide7 {
    display: none;
}

.openingimageshow #slide8 {
    display: none;
}

#text1 {
    display: inline;
}

#text2 {
    display: none;
}

#text3 {
    display: none;
}

#text4 {
    display: none;
}

#text5 {
    display: none;
}

#text6 {
    display: none;
}

#text7 {
    display: none;
}

#text8 {
    display: none;
}
