.history_timeline {
    float:left;
}

#years {
    list-style-position: inside;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    width: 12%;
    height: 96.5vh;
    top: 3.5%;
    left: 7%;
    position: absolute;
}

#years li {
    position: relative;
    margin: 0;
    padding-bottom: 10%;
    left: 15%;
}

#years li:not(:last-child):before {
    background-color: #ffdf00;
    width: 6px;
    content: '';
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: -8%;
}

#years li:last-child:before {
    background-color: #ffdf00;
    width: 6px;
    height: 30%;
    content: '';
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: -8%;
}

#years li:after {
    background-color: #ffdf00;
    width: 6px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/75/Disc_Plain_yellow_dark.svg);
    border-radius: 10px;
    background-size: cover;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 20%;
    bottom: 1%;
    left: -9.3%;
    background-repeat: no-repeat;
    content: '';
}

#years li button {
    background: none;
    border: none;
    padding: 0;
    color: black;
    font-size: 150%;

}

#years li button:hover {
    color: #ffdf00;
}

#years li a {
    color: black;
    font-size: 150%;
    text-decoration: none;
}

#years li a:hover {
    color: #ffdf00;
}

#info {
    list-style-position: inside;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    float: right;
    height: 96.5vh;
    top: 3.5%;
    left: 20%;
    position: absolute;
}

#info li {
    position: relative;
    margin: 0;
    padding-bottom: 1%;
    left: 0%;
}

.timeline_event {
    border-style:solid;
    border-color:black;
    border-width: medium;
    margin-top: 1%;
    margin-bottom: 1%;
}

.timeline_event:hover {
    border-style:ridge;
    border-color:gold;
}

.timeline_event h2 {
    margin: 1%;
}

.timeline_event p {
    margin: 1%;
}