.sidenav {
    width: 0%;
    position: fixed;
    z-index: 8;
    background-color: #003057;
    overflow: hidden;
    padding-top: 5%;
    transition: 0.5s;
}
  
.sidenav a {
    text-decoration: none;
    padding: 5%;
    font-size: 200%;
    text-align: left;
    color: white;
    display: block;
    transition: 0.3s;
    border-top: .3vh solid white;
}

.sidenav a:last-child {
    text-decoration: none;
    padding: 0%;
    font-size: 0%;
    text-align: left;
    color: white;
    display: block;
    transition: 0.3s;
    border-top: .3vh solid white;
}
  
.sidenav a:hover {
    color: rgb(179, 163, 105);
    cursor:pointer;
}

.sidenav a:hover .arrow {
    border: solid rgb(179, 163, 105);
    border-left: .5vh;
    border-top: .5vh;
}

#sidenavelement {
    height: 100%;
    overflow-y: auto;
}

#dimscreen {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 7;
}

.arrow {
  border: solid white;
  border-left: .5vh;
  border-top: .5vh;
  display: block;
  float: right;
  margin-top: 5%;
  margin-right: 3%;
  padding: 2%;
  transform: rotate(45deg)
}

.hidden_sidebar_sports {
    display: none !important;
    font-size: 130% !important;
}

.hidden_sidebar_trad {
    display: none !important;
    font-size: 130% !important;
}

.hidden_sidebar_camp {
    display: none !important;
    font-size: 130% !important;
}