.mainImage {
    height: 100vh;
}

.mainGrid {
    display: grid;
    grid-template-columns: 24vw 48vw 24vw;
    width: 94vw;
    margin-left: 2vw;
    margin-right: 2vw;
    height: fit-content;
}

.leftMainGrid {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 22vw;
}

.leftMainGrid div {
    position: relative;
    width: 22vw;
}

.leftMainGrid div img {
    margin: .5vw;
    width: 21vw;
}

.leftMainGrid div video {
    margin: .5vw;
    width: 21vw;
}

.leftMainGrid div audio {
    margin: .5vw;
    width: 21vw;
}

.leftMainGrid div p {
    text-align: center;
    word-wrap: break-word;
    font-family: "Georgia";
}

.centerMainGrid {
    grid-column-start: 2;
    grid-column-end: 3;
    max-width: 48vw;
}

.centerMainGrid p {
    margin-top: 5%;
    word-wrap: break-word;
    font-size: 115%;
    font-family: "Georgia";
}

.rightMainGrid {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 22vw;
}

.rightMainGrid div {
    position: relative;
    width: 22vw;
}

.rightMainGrid div img {
    margin: .5vw;
    width: 21vw;
}

.rightMainGrid div video {
    margin: .5vw;
    width: 21vw;
}

.rightMainGrid div audio {
    margin: .5vw;
    width: 21vw;
}

.rightMainGrid div p {
    text-align: center;
    word-wrap: break-word;
    font-family: "Georgia";
}

a:visited {
    color: blue;
}

.footer {
    height: 20px;
}